[submodule "public/exam_list/java"]
	path = public/exam_list/java
	url = https://github.com/exercism/java.git
[submodule "public/exam_list/cpp"]
	path = public/exam_list/cpp
	url = https://github.com/exercism/cpp.git
[submodule "public/exam_list/c"]
	path = public/exam_list/c
	url = https://github.com/exercism/c.git
[submodule "public/exam_list/python"]
	path = public/exam_list/python
	url = https://github.com/exercism/python.git
