:root {
    --h1-size: 28px;
    --h2-size: 24px;
    --h3-size: 22px;
    --h4-size: 20px;
}

.lesson_content_text p {
    margin-top: 10px;
}

.lesson_content_text strong, .lesson_content_text strong * {
    font-weight: 600 !important;
}

.lesson_content_text img {
    margin: 15px 0 30px 0;
    width: 100%;
    max-height: 500px;
    -o-object-fit: contain;
       object-fit: contain;
}

.lesson_content_text pre {
    margin-top: 20px;
}

.lesson_content_text h2 {
    font-size: var(--h2-size) !important;
    margin: 35px 0 15px;
    font-weight: 500;
}

.lesson_content_text h1 {
    font-size: var(--h1-size) !important;
    margin: 40px 0 20px;
    font-weight: 600;
}

.lesson_content_text h3 {
    font-size: var(--h3-size) !important;
    margin: 30px 0 15px;
    font-weight: 500;
}

.lesson_content_text h4 {
    font-size: var(--h3-size) !important;
    margin: 12px 0;
    font-weight: 500;
}

.lesson_content_text h1 * {
    font-size: var(--h1-size) !important;
    font-weight: 600;
}

.lesson_content_text h2 * {
    font-size: var(--h2-size) !important;
    font-weight: 500;
}

.lesson_content_text h3 * {
    font-size: var(--h3-size) !important;
    font-weight: 500;
}

.lesson_content_text h4 * {
    font-size: var(--h4-size) !important;
    font-weight: 500;
}

.color-box {
    margin: 15px 0;
    padding-left: 20px;
}

.shadow {
    background: #f7f8f9;
    padding: 3px;
    margin: 10px 0;
}

.note-icon {
    background: #47ADE0
}

.note-icon div::before {
    background: #1d7ead
}

.note-box,
.warning-box,
.tip-box {
    padding: 8px 8px 3px 26px
}

.note-box a {
    color: #4395c6
}

.note-box {
    color: #144261;
    background: #d5e9f6
}

.tip-icon {
    background: #92CD59
}

.tip-icon div::before {
    background: #75b436
}

.info-tab {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    padding: 6px;
    position: relative;
    top: 8px
}

.info-tab::before,
.info-tab::after {
    display: inline-block;
    color: #fff;
    line-height: normal;
    font-family: "icomoon";
    position: absolute
}

.info-tab div::before,
.info-tab div::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -15px;
    transform: rotateX(60deg)
}

.info-tab div::before {
    width: 20px;
    height: 20px;
    box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.5)
}

.info-tab div::after {
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
    bottom: -18px
}

.info-tab {
    float: left;
    margin-left: -23px
}

.tip-box a {
    color: #439800
}

.tip-box {
    color: #2e5014;
    background: #d5efc2
}

.note-box p,
.tip-box p {
    margin-bottom: 12px;
}

.fa-pen-to-square, .fa-rocket {
    color: #fff;
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .lesson_content_text {
        --h1-size: 22px;
        --h2-size: 20px;
        --h3-size: 18px;
        --h4-size: 16px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .lesson_content_text {
        --h1-size: 21px;
        --h2-size: 19px;
        --h3-size: 17px;
        --h4-size: 15px;
    }
}

@media only screen and (max-width: 576px) {
    .lesson_content_text {
        --h1-size: 20px;
        --h2-size: 18px;
        --h3-size: 16px;
        --h4-size: 14px;
    }
}
