:root {
    --h1-size: 28px;
    --h2-size: 24px;
    --h3-size: 22px;
    --h4-size: 20px;
}

.post_content_text p {
    margin-top: 15px;
}

.post_content_text pre {
    margin-top: 15px;
    margin-bottom: 30px;
}

.post_content_text div {
    margin-top: 20px;
    padding: 5px 10px;
}

.post_content_text h2 {
    font-size: var(--h2-size) !important;
    margin: 35px 0 15px;
    font-weight: 500;
}

.post_content_text h1 {
    font-size: var(--h1-size) !important;
    margin: 40px 0 20px;
    font-weight: 600;
}

blockquote strong,
.post_content_text .content_title_update * {
    font-size: var(--h3-size) !important;
}

.post_content_text h3 {
    font-size: var(--h3-size) !important;
    margin: 30px 0 15px;
    font-weight: 500;
}

.post_content_text h4 {
    font-size: var(--h3-size) !important;
    margin: 12px 0;
    font-weight: 500;
}

.post_content_text h1 * {
    font-size: var(--h1-size) !important;
    font-weight: 600;
}

.post_content_text h2 * {
    font-size: var(--h2-size) !important;
    font-weight: 500;
}

.post_content_text h3 * {
    font-size: var(--h3-size) !important;
    font-weight: 500;
}

.post_content_text h4 * {
    font-size: var(--h4-size) !important;
    font-weight: 500;
}

.post_content_text iframe {
    width: 100%;
    min-height: 300px;
}

.post_content_text .emoji {
    display: none;
}

.post_content_text a {
    color: #004cbd;
}

.content_title_update {
    padding: 0 !important;
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .post_content_text {
        --h1-size: 22px;
        --h2-size: 20px;
        --h3-size: 18px;
        --h4-size: 16px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .post_content_text {
        --h1-size: 21px;
        --h2-size: 19px;
        --h3-size: 17px;
        --h4-size: 15px;
    }
}

@media only screen and (max-width: 576px) {
    .post_content_text {
        --h1-size: 20px;
        --h2-size: 18px;
        --h3-size: 16px;
        --h4-size: 14px;
    }

    .post_content_text p {
        margin-top: 10px;
    }

    .post_content_text pre {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .post_content_text div {
        margin-top: 10px;
    }
}
