@font-face {
    font-family: 'jetbrains';
    src: url('../fonts/ttf/JetBrainsMono-Light.ttf');
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
}

.cm-editor * {
    font-family: 'jetbrains';
    font-size: 14px;
}

input {
    box-sizing: border-box
}

input,
select {
    outline: none;
}

a {
    text-decoration: none;
}

.box {
    margin-top: 100px;
    margin: 100px auto 0 auto;
    padding: 20px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    display: none;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media only screen and (min-width: 1400px) {
    .box {
        max-width: 1320px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .box {
        max-width: 1140px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .box {
        max-width: 960px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .box {
        max-width: 720px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .box {
        max-width: 540px;
    }
}

@media only screen and (max-width: 576px) {
    .box {
        width: 100%;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
    }
}