.footer_box {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top: 1px solid rgb(172, 165, 165);
}

.footer__copyright__text {
    color: #fff;
    padding: 5px 10px;
    border-top: 1px solid #fff;
    background: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
}