.home_lesson {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem 2rem;
    margin-top: 10px;
    margin-bottom: 50px;
}

.home_lesson_item {
    position: relative;
}

.home_lesson_cover {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: calc(100% - 50px);
    background: transparent;
    top: 0;
}

.home_lesson_info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    transition: 0.2s;
}

.home_lesson_item:hover .home_lesson_info {
    font-size: 15px;
}

.home_post {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 2rem 2rem;
    margin-top: 10px;
    margin-bottom: 50px;
}

.home_post_item {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
}

.home_post_img {
    width: 100%;
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}

.home_title {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    padding: 0 60px;
    background: radial-gradient(circle 732px at -23.9% -25.1%, rgba(30, 39, 107, 1) 6.1%, rgba(188, 104, 142, 1) 100.2%);
    border-radius: 4px;
    margin-bottom: 20px;
}

.home_title:before {
    content: "";
    position: absolute;
    right: -9px;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #4c3976;
    border-radius: 4px;
}

.home_title:after {
    content: "";
    position: absolute;
    left: -1px;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #fff;
    border-radius: 4px;
}

.home_post_item_title {
    font-weight: 500;
    margin: 15px 0;
    flex-shrink: 1;
}

.home_post_author {
    display: flex;
    margin-top: auto;
    flex-shrink: 0;
}

.home_post_author_img {
    width: 20px;
    height: 20px;
    border: 1px solid #3a284e;
    padding: 1px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset; */
    border-radius: 25px;
}

.home_post_author_name {
    padding: 2px 8px;
    border-radius: 10px;
    background-image: radial-gradient(circle 300px at 8% 89.3%, rgba(20, 157, 208, 1) 0%, rgba(140, 63, 226, 1) 90%);
    margin-left: 5px;
    color: #fff;
    font-size: 12px;
}