.lesson_box {
    display: flex;
    min-height: 1000px;
    padding-top: 60px;
}

.lesson_box * {
    box-sizing: border-box;
}

.lesson_box_category {
    width: 15%;
}

.lesson_box_category * {
    font-weight: 500;
}

.lesson_box_content {
    width: 65%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.lesson_box_other {
    width: 20%;
}

.lesson_box_category_title {
    padding: 15px 20px;
    font-weight: 400;
    color: #fff;
    background: linear-gradient(to right, #2b5876 0%, #30709b 51%, #1e4d6c 100%);
    text-transform: uppercase;
}

.lesson_box_category_item {
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) -1px 0px 0px 1px;
    color: #000;
}

.lesson_box_category_item div {
    white-space: nowrap;
    overflow: hidden;
}

.lesson_box_category_list {
    display: flex;
    flex-direction: column;
}

.lesson_box_content {
    padding: 50px 30px;
}

.lesson_box_content_title {
    padding: 20px 30px;
    background-image: radial-gradient(circle 1017px at 1.4% 22.8%, rgba(97, 76, 141, 1) 31.9%, rgb(94, 82, 194) 90%);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    border-radius: 5px;
}

.code_box {
    padding: 15px 25px;
    /* border: 1px solid #000;
    border-style: dashed; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.lesson_content_title {
    font-size: 19px !important;
    font-weight: 500;
}

.lesson_content_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.lesson_content {
    margin-bottom: 20px;
}

.lesson_content.html_box * {
    font-size: 17px;
    line-height: 1.6;
}

.lesson_content strong {
    font-weight: 500;
}

.compiler_code_title {
    background: #4b515c;
    margin-top: 20px;
    padding: 2px 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.compiler_code {
    min-height: 100px;
    background: #282c34;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.lesson_box_category_item.active {
    color: #fff;
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.lesson_content table {
    border-collapse: collapse;
    margin: 25px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #dddddd;
}

.lesson_content td {
    padding: 6px 25px;
    font-size: 15px;
}

.lesson_content th {
    padding: 6px 25px;
    font-size: 15px;
}

.lesson_content tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.compiler_html {
    min-height: 150px;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #000;
    width: 100%;
    box-sizing: border-box;
}

.w3-codespan {
    background: #d5d5dc;
    font-size: 15px !important;
    padding: 0 4px;
    border-radius: 5px;
}

.lesson_box_other {
    padding: 20px;
}

.other_course_item {
    width: 100%;
    display: flex;
}

.other_course_item_text {
    padding: 10px 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.other_course_item_text {
    color: #fff;
    padding: 10px 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    text-transform: uppercase;
    border-radius: 5px;
}

.other_course_item_text div {
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}

.other_course_item_text:hover div {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}