.img_account_profile {
    height: 10rem;
    width: 10rem;
    margin-bottom: 20px;
    object-fit: contain;
}

.rounded_circle {
    border-radius: 50% !important;
    border: 2px solid #626365;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card_header {
    font-weight: 500;
}

.card_header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card_header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.user_info_input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.user_box {
    display: flex;
    justify-content: space-between;
}

.user_image {
    width: 30%;
}

.user_info {
    width: 65%;
}

.user_info_name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user_info_name_detail {
    width: 45%;
}

.card_body {
    padding: 20px;
}

.text_center {
    text-align: center;
}

.post_img_noti {
    font-style: italic;
    font-size: 13px;
    margin-bottom: 10px;
}

.user_info_label {
    font-weight: 500;
    display: inline-block;
    margin-bottom: 5px;
}

.user_info_item {
    margin-bottom: 25px;
}

.user_info_btn_save {
    background: rgb(54, 104, 220);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user_info_btn_logout {
    background: rgb(223, 64, 6);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.post_img_btn {
    background: rgb(54, 104, 220);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user_info_input:disabled {
    background: #c5ccd6;
}