* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0 auto;
}

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.txt1 {
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
}

.txt2 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
}

.bg1 {
    background-color: #3b5998
}

.bg2 {
    background-color: #1da1f2
}

.bg3 {
    background: #6495ed;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
}

.wrap-login {
    width: 500px;
    max-width: 90%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 40px;
}


/*------------------------------------------------------------------
[ Form ]*/

.login-form {
    width: 100%;
}

.login-form-title {
    display: block;
    font-size: 25px;
    color: #333333;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 20px;
}

.label-input {
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    line-height: 1.5;
    padding-left: 7px;
}

input {
    font-size: 16px;
    color: #333333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 43px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::after {
    content: attr(data-symbol);
    color: #adadad;
    font-size: 22px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 20px);
    bottom: 0;
    left: 0;
    padding-left: 13px;
    padding-top: 3px;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #7f7f7f;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


.input:focus+.focus-input::before {
    width: 100%;
}

.has-val.input+.focus-input::before {
    width: 100%;
}

.input:focus+.focus-input::after {
    color: #a64bf4;
}

.has-val.input+.focus-input::after {
    color: #a64bf4;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrap-login-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;

    box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

.login-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #000;
    /* background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff); */
    top: 0;
    left: -100%;
    transition: all 0.4s;
}

.login-form-btn {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login-form-btn:hover .login-form-bgbtn {
    left: 0;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    bottom: calc((100% - 20px) / 2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 2px;
    pointer-events: none;

    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    bottom: calc((100% - 20px) / 2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.login-social-item {
    font-size: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

a {
    color: #333333;
    text-decoration: none;
}

.fg-password:hover {
    font-weight: 500;
}

.form-noti {
    text-align: center;
    line-height: 1.5;
}

.form-noti span {
    font-weight: 500;
}

.error-text {
    text-align: center;
    color: #c80000;
}
/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login {
        padding: 25px 15px;
    }

    .login-form-title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    input {
        height: 40px;
    }

    .login-form-btn {
        height: 40px;
    }
}
